@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: gilroy_black;
  src: url(Fonts/Gilroy-Black.ttf);
}

@font-face {
  font-family: gilroy_bold;
  src: url(Fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: gilroy_medium;
  src: url(Fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: gilroy_regular;
  src: url(Fonts/Gilroy-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#sign_in,
#sign_up,
#forgot_pass {
  flex: 1;
  width: 500px;
  background-color: rgba(29, 29, 29, 1);
  padding: 66px 26px 34px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

h1 {
  font-size: 36px;
  color: #ffffff;
  line-height: 43px;
  margin-bottom: 11px;
  font-family: gilroy_black;
}

input {
  width: 317px;
  height: 55px;
  border-radius: 10px;
  background-color: #262626;
  border: none;
  padding: 14px 15px 18px;
  margin-top: 31px;
}

input::placeholder {
  font-family: gilroy_medium;
  color: rgba(103, 103, 103, 1);
  font-size: 12px;
}

.forgot_password {
  width: 100%;
  text-align: right;
  margin-top: 13px;
}

.forgot_password a {
  color: rgba(255, 75, 38, 1);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 53px;
}

.button h3 {
  font-family: gilroy_bold;
  color: white;
  font-size: 24px;
  line-height: 43px;
}

.socials {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 62px;
  margin-bottom: 158px;
  gap: 8px;
}

.socials p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgba(103, 103, 103, 1);
  font-size: 12px;
}

.social_icon span {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: url(images/google.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.social_icon span:nth-child(2) {
  background: url(images/apple.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.social_icon span:nth-child(3) {
  background: url(images/facebook.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.social_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 37px;
  height: 50px;
  width: 100%;
}

.back_button {
  color: rgba(103, 103, 103, 1);
  font-size: 12px;
  background-color: transparent;
  border: none;
  margin: auto auto 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.button .orange_button {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  background-color: #ff4b26;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 26px 0 rgba(231, 96, 71, 0.47);
}

.button .orange_button .arrow_right {
  color: white;
}

p.agreement {
  font-family: gilroy_regular;
  font-size: 12px;
  color: rgba(103, 103, 103, 1);
  margin-top: 15px;
}
p.agreement span {
  color: rgba(255, 75, 38, 1);
}
