* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 50px;
  background-color: black;
  gap: 5px;
}

#sign_in,
#sign_up,
#forgot_pass {
  width: 375px;
  height: 812px;
  background-color: rgba(29, 29, 29, 1);
  padding: 66px 26px 34px 32px;
}

h1 {
  font-size: 36px;
  color: #ffffff;
  line-height: 43px;
}

input {
  width: 317px;
  height: 55px;
  border-radius: 10px;
  background-color: #262626;
  border: none;
  padding: 14px 15px 18px;
}
